<input
  type="text"
  [(ngModel)]="filterText"
  id="filterText"
  placeholder="Search for color"
  class="form-control mb-3 mt-3"
/>
<div *ngIf="filterText.length > 2" class="alert alert-info" role="alert">
  {{ filterText }} searched
</div>
<div>
  <li
    type="button"
    class="list-group-item list-group-item-dark cursor-pointer d-flex justify-content-start"
  >
    <div class="d-flex justify-content-start col-md-5">
      <h6 (click)="clearCurrentColor()" routerLink="/cars">All Colors</h6>
      <i
        style="margin-left: 5px"
        data-bs-toggle="collapse"
        data-bs-target="#colors-collapse"
        (click)="setExpanded()"
        [class]="getIconClass()"
      ></i>
    </div>
    <i (click)="ngOnInit()" class="fa fa-retweet"></i>
    <span class="badge badge-primary" style="margin-left: 120px; color: black">
      {{ (colors | filter: filterText).length }}</span
    >
  </li>
  <div id="colors-collapse" class="panel-collapse collapse show">
    <ul class="list-group">
      <li
        type="button"
        *ngFor="let color of colors | filter: filterText"
        (click)="setCurrentColor(color)"
        routerLink="/cars/colors/{{ color.id }}"
        [class]="getCurrentColorClass(color)"
      >
        {{ color.name }}
      </li>
    </ul>
  </div>
</div>
