<input
  type="text"
  [(ngModel)]="filterText"
  id="filterText"
  placeholder="Search for brand"
  class="form-control mb-3 mt-3"
/>
<div *ngIf="filterText.length > 2" class="alert alert-info" role="alert">
  {{ filterText }} searched
</div>
<div>
  <li
    type="button"
    class="list-group-item list-group-item-dark cursor-pointer d-flex justify-content-start"
    style="background-color: #eeeeee"
  >
    <div class="d-flex justify-content-start col-md-5">
      <h6
        (click)="clearCurrentBrand()"
        routerLink="/cars"
        style="color: #222831; font-weight: 600"
        class="pt-2"
      >
        All Brands
      </h6>
      <i
        style="margin-left: 5px"
        data-bs-toggle="collapse"
        data-bs-target="#brands-collapse"
        (click)="setExpanded()"
        [class]="getIconClass()"
        class="pt-2"
      ></i>
    </div>

    <i (click)="ngOnInit()" class="fa fa-retweet pt-2"></i>
    <span
      class="badge badge-primary"
      style="margin-left: 120px; font-weight: 700; color: #222831"
    >
      {{ (brands | filter: filterText).length }}</span
    >
  </li>
  <div id="brands-collapse" class="panel-collapse collapse show">
    <ul class="list-group">
      <li
        type="button"
        *ngFor="let brand of brands | filter: filterText"
        (click)="setCurrentBrand(brand)"
        routerLink="/cars/brands/{{ brand.id }}"
        [class]="getCurrentBrandClass(brand)"
      >
        {{ brand.name }}
      </li>
    </ul>
  </div>
</div>
