<div class="d-flex justify-content-center mt-3">
  <div class="card col-md-8">
    <div class="card-body">
      <h5 class="card-title">Password Update</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        You can update your password
      </h6>
      <form [formGroup]="passwordUpdateForm">
        <div class="mb-3">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Re-type Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="passwordCheck"
            />
          </div>
        </div>

        <button (click)="update()" class="btn btn-outline-dark">Update</button>
      </form>
    </div>
  </div>
</div>
