<div *ngIf="dataLoaded" class="row ml-0 mr-0">
  <div
    *ngFor="let car of carDetails; let i = index"
    class="col-md-4 col-sm-12 my-4"
  >
    <div class="card" style="width: 100%; justify-content: center">
      <img
        src="{{ imageBasePath }}{{ getCarImagePath(car) }}"
        style="width: 100%; height: 10rem"
        class="card-img-top"
        alt="Car image"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ car.carName }}</h5>
        <hr />
        <p><b>Brand :</b> {{ car.brandName }}</p>
        <hr />
        <p><b>Model Year :</b> {{ car.modelYear }}</p>
        <hr />
        <p><b>Daily Price :</b> {{ car.dailyPrice }}</p>
        <hr />
        <p><b>Color :</b> {{ car.colorName }}</p>
        <hr />
        <a routerLink="/cars/{{ cars[i].id }}" class="btn btn-outline-dark mt-2"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
