<input
  type="text"
  [(ngModel)]="filterText"
  id="filterText"
  placeholder="Search for model"
  class="form-control mt-3"
/>
<div *ngIf="filterText.length > 2" class="alert alert-info" role="alert">
  {{ filterText }} searched
</div>

<div class="d-flex mt-2">
  <select
    [(ngModel)]="selectedBrand"
    class="form-select"
    aria-label="Default select example"
  >
    <option selected>Select brand</option>
    <option *ngFor="let brand of brands" value="{{ brand.name }}">
      {{ brand.name }}
    </option>
  </select>
  <select
    [(ngModel)]="selectedColor"
    class="form-select"
    aria-label="Default select example"
  >
    <option selected>Select color</option>
    <option *ngFor="let color of colors" value="{{ color.name }}">
      {{ color.name }}
    </option>
  </select>
  <input
    (click)="filterCars()"
    type="button"
    class="btn btn-outline-dark"
    value="Filter"
    style="font-weight: 500"
  />
</div>

<div *ngIf="dataLoaded" class="row ml-0 mr-0">
  <div
    *ngFor="let car of carDetails | filterForCar: filterText; let i = index"
    class="col-md-4 col-sm-12 my-4"
  >
    <div class="card" style="width: 100%; justify-content: center">
      <img
        src="{{ imageBasePath }}{{ getCarImagePath(car) }}"
        style="width: 100%; height: 12rem"
        class="card-img-top img-thumbnail"
        alt="Car image"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ car.carName }}</h5>
        <hr />
        <p><b>Brand :</b> {{ car.brandName }}</p>
        <hr />
        <p><b>Model Year :</b> {{ car.modelYear }}</p>
        <hr />
        <p><b>Daily Price :</b> {{ car.dailyPrice | currency }}</p>
        <hr />
        <p><b>Color :</b> {{ car.colorName }}</p>
        <hr />
        <a
          routerLink="/cars/{{ cars[i].id }}"
          class="btn btn-outline-dark mt-2"
          style="font-weight: 600"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
